# Dependencies
node_modules/
npm-debug.log*
yarn-error.log*

# Build output
dist/
.angular/cache/
tmp/
out-tsc/

# IDE
.idea/
.vscode/
*.sublime-workspace

# System
.DS_Store
Thumbs.db

# Kilo
.kilo/
