PORT=3000
CORS_ORIGIN=http://localhost:4200
NODE_ENV=development
JWT_SECRET=development-only-change-this-secret
JWT_EXPIRES_IN=2h

DB_SERVER=localhost
DB_INSTANCE=SQLEXPRESS
DB_NAME=SmmDb
DB_TRUSTED_CONNECTION=true
DB_USER=sa
DB_PASSWORD=change-me
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true